<launch>
    <!-- Carrega os parâmetros do arquivo YAML -->
    <rosparam file="$(find dynamic_obstacle_avoidance)/config/parameters.yaml" command="load" />

    <!-- Lança o nó scenario_controller -->
    <node
        name="scenario_controller"
        pkg="dynamic_obstacle_avoidance"
        type="scenario_controller.py"
        output="screen" />

    <!-- Lança o nó apfm_obstacle_avoidance -->
    <node
        name="apfm_obstacle_avoidance"
        pkg="dynamic_obstacle_avoidance"
        type="apfm_obstacle_avoidance.py"
        output="screen" />
</launch>
